<x-meta id="hot-table" label="Hot" group="Table">
  <template id="tpl" bind>
    <hot-table datarows="{{people}}" contextMenu="true" highlightedRow="{{highlightedRow}}">
      <hot-column id="col1" width="30" readOnly value="id" header="ID"></hot-column>
      <hot-column width="70" value="name.first" header="First Name"></hot-column>
      <hot-column width="100" value="name.last" header="Last Name"></hot-column>
      <hot-column value="gender" header="Gender"></hot-column>
      <hot-column type="numeric" value="age" header="Age"></hot-column>
      <hot-column type="checkbox" value="languages.english" header="English" checkedTemplate="Yes"
                  uncheckedTemplate="No"></hot-column>
      <hot-column type="checkbox" value="languages.spanish" header="Spanish" checkedTemplate="Yes"
                  uncheckedTemplate="No"></hot-column>
      <hot-column type="checkbox" value="languages.french" header="French" checkedTemplate="Yes"
                  uncheckedTemplate="No"></hot-column>
      <hot-column type="numeric" value="salary" header="Salary" format="$ 0,0.00"></hot-column>
    </hot-table>

  </template>
  <template id="imports">
    <link rel="import" href="hot-table.html">
  </template>
</x-meta>