<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-menu/core-submenu.html">
<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../core-ajax/core-ajax.html">

<polymer-element name="arcane-catagory" attributes="url catagories" style="display:block">

  <template>
    <style>    
      :host {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
      #core_menu {
        font-size: 16px;
        left: 0px;
        top: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      #core_ajax {
        left: -12px;
        top: -12px;
        position: absolute;
      }
      paper-item {
        width: 200px;
      }
    </style>
      <!-- <core-ajax handleas="json" method="POST" id="core_ajax" hidden auto url="{{ url }}" params="catagories" respond="{{ catagories }}"> -->
      <core-menu selected="0" selectedindex="0" id="core_menu" lable="{{ catagory.name }}">
    	  <template repeat="{{ catagory in catagories }}">
          <core-submenu id="core-submenu1" icon="arrow-forward" label="{{ catagory.name }}" vertical layout>
            <template repeat="{{ article in catagory.articles }}">
              <paper-item>{{ article }}</paper-item>
            </template>
          </core-submenu>
			  </template>
      </core-menu>
  </template>

  <script>

    Polymer("arcane-catagory", {
      created: function(){
        this.catagories = [];
      },

      url: ""
    });

  </script>

</polymer-element>